*[serial] 中的事件必须依次触发才能完成测试
*[endtest] 最终完成测试条件   
*[time] <时间 /s> 表示延时
[time] 4
*延时4s开始测试
[serial] 
#1
未知神秘存在(?????)
l ?????
#2
(使用look(l)试着看一下吧)
a ?????
#3
这时你突然发现面前多了个光团
sh ???
#4
这时你的脑海中响起一个声音，“与它战斗吧！
f ???
[end] 
[endtest]
